{% extends 'base.html' %}

{% block content %}
		<!--Top Informational Jumbotron-->
	    <div class="jumbotron">
	      <div class="container">
	        <h1 class="display-3 text-center">Classes</h1>
	        <div class="row h-100 justify-content-center align-items-center">
				<nav aria-label="...">
					<ul class="pagination">
						<li class="page-item disabled">
						<li class="page-item active" aria-current="page">
						    <a class="page-link" href="http://flip3.engr.oregonstate.edu:8368/classes">View<span class="sr-only">(current)</span></a>
						</li>

						<li class="page-item" aria-current="page">
						     <a class="page-link" href="http://flip3.engr.oregonstate.edu:8368/classesadd">Add<span class="sr-only"></span></a>
						</li>
					</ul>
				</nav>
			</div>
	      </div>
	    </div>
  
    <!--Horizontal Divider-->
    <div class="row">
        <div class="col"><hr></div>
    </div>

    <!--Example Table-->
    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">Class Name</th>
          <th scope="col">Class Term</th>
		  <th scope="col">School</th>
		  <th scope="col">Edit</th>
        </tr>
      </thead>
      <tbody>
        {% for r in SELECT_Class_Rows %}
        <tr>
          <th scope="row">{{r[1]}}</th>
          <td>{{r[2]}}</td>
          <td>{{r[3]}}</td>
          <td><a href="http://flip3.engr.oregonstate.edu:8368/classesedit/{{r[0]}}" class="btn btn-secondary btn-sm active" role="button" aria-pressed="true">Edit</a></td>
          </tr>  
        </tr>
        {% endfor %}
    </tbody>
      </tbody>
    </table>
{% endblock %}