{% extends 'base.html' %}

{% block content %}

			<!--Top Informational Jumbotron-->
    	<div class="jumbotron">
      		<div class="container">
        		<h1 class="display-3 text-center">Classes</h1>
        		<div class="row h-100 justify-content-center align-items-center">
					<nav aria-label="...">
						<ul class="pagination">
							<li class="page-item disabled">
							<li class="page-item" aria-current="page">
					    		<a class="page-link" href="/classes">View<span class="sr-only"></span></a>
							</li>

							<li class="page-item active" aria-current="page">
					     		<a class="page-link" href="/classesadd">Add<span class="sr-only">(current)</span></a>
							</li>
						</ul>
					</nav>
				</div>
      		</div>
   		</div>

    <!--Add Classes Forms Below-->
    <div class="container h-100">
      <div class="row h-100 justify-content-center align-items-center">

        <form role="form" action= "/classesadd" method="POST">
          <label for="ClassName">Class Name</label>
          <div class="form-group form-inline">
            <input type="ClassName" class="form-control" id="ClassNameInput" placeholder="Enter Class Name" name="AddClassNameInput">
          </div>

          <label for="ClassTerm">Class Term</label>
          <div class="form-group form-inline">
            <input type="ClassTerm" class="form-control" id="ClassTermInput" placeholder="Enter Class Term" name="AddClassTermInput">
          </div>

          <div class="form-group">
		    <label for="exampleFormControlSelect1">Select School</label>
		    <select class="form-control" id="exampleFormControlSelect1" name="AddClassSchoolIDInput">
		      {% for s in Schools %}
		      <option value="{{s[0]}}">{{s[1]}}</option>
		      {% endfor %}
		    </select>
		   </div>
          
        <div class="row h-100 justify-content-center align-items-center">
          <button type="submit" class="btn btn-secondary">Add Class</button>
      	</div>

        </form>
        
      </div>
    </div>
  

{% endblock %}