{% extends 'base.html' %}

{% block content %}

		<!--Top Informational Jumbotron-->
	    <div class="jumbotron">
	      <div class="container">
	        <h1 class="display-3 text-center">Class/Staff Assignment</h1>
	        <div class="row h-100 justify-content-center align-items-center">
				<nav aria-label="...">
					<ul class="pagination">
						<li class="page-item disabled">
						<li class="page-item" aria-current="page">
						    <a class="page-link" href="http://flip3.engr.oregonstate.edu:8368/classstaff">View<span class="sr-only">(current)</span></a>
						</li>

						<li class="page-item active" aria-current="page">
						     <a class="page-link" href="http://flip3.engr.oregonstate.edu:8368/classstaffadd">Add<span class="sr-only"></span></a>
						</li>
					</ul>
				</nav>
			</div>
	      </div>
	    </div>
  
    <!--Horizontal Divider-->
    <div class="row">
        <div class="col"><hr></div>
    </div>

    <!--Add Class/Staff Forms Below-->
    <div class="container h-100">
      <div class="row h-100 justify-content-center align-items-center">

        <form role="form" action= "http://flip3.engr.oregonstate.edu:8368/classstaffadd" method="POST">
          <label for="ClassName">Enter ID of Class</label>
          <div class="form-group form-inline">
            <input type="ClassID" class="form-control" id="ClassIDInput" placeholder="1" name="AddClassStaffClassIDInput">
          </div>

          <label for="ClassTerm">Enter ID of Staff assigned to above Class</label>
          <div class="form-group form-inline">
            <input type="StaffID" class="form-control" id="StaffIDInput" placeholder="2" name="AddClassStaffStaffIDInput">
          </div>

        <div class="row h-100 justify-content-center align-items-center">
          <button type="submit" class="btn btn-secondary">Add New Assignment</button>
      	</div>

        </form>
        
      </div>
    </div>
  

{% endblock %}