{% extends 'base.html' %}

{% block content %}
		<!--Top Informational Jumbotron-->
	    <div class="jumbotron">
	      <div class="container">
	        <h1 class="display-3 text-center">Classes</h1>
	        <div class="row h-100 justify-content-center align-items-center">
				<nav aria-label="...">
					<ul class="pagination">
						<li class="page-item disabled">
						<li class="page-item" aria-current="page">
						    <a class="page-link" href="/classes">View<span class="sr-only">(current)</span></a>
						</li>

						<li class="page-item" aria-current="page">
						     <a class="page-link" href="/classesadd">Add<span class="sr-only"></span></a>
						</li>
					</ul>
				</nav>
			</div>
	      </div>
	    </div>

    <!--Edit Class Name Forms Below-->
    <div class="container h-100">
      <div class="row h-100 justify-content-center align-items-center">

        <form role="form" method="POST">

          <label for="ClassName">New Class Name</label>
          <div class="form-group form-inline">
            <input type="ClassName" class="form-control" id="NewClassNameInput" placeholder="Enter New Class Name" name="EditClassNameInput">
          </div>

          <div class="row h-100 justify-content-center align-items-center">
          		<button type="submit" class="btn btn-secondary">Update Class</button>
      	  </div>
        </form>
        
      </div>
    </div>
  


{% endblock %}