{% extends 'base.html' %}

{% block content %}

		<!--Top Informational Jumbotron-->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3 text-center">Schools</h1>
        <div class="row h-100 justify-content-center align-items-center">
			<nav aria-label="...">
				<ul class="pagination">
					<li class="page-item disabled">
					<li class="page-item" aria-current="page">
					    <a class="page-link" href="http://flip3.engr.oregonstate.edu:8368/schools">View<span class="sr-only"></span></a>
					</li>

					<li class="page-item active" aria-current="page">
					     <a class="page-link" href="http://flip3.engr.oregonstate.edu:8368/schoolsadd">Add<span class="sr-only">(current)</span></a>
					</li>
				</ul>
			</nav>
		</div>
      </div>
    </div>

    <!--Add School Forms Below-->
    <div class="container h-100">
      <div class="row h-100 justify-content-center align-items-center col-md-12">

        <form role="form" action="http://flip3.engr.oregonstate.edu:8368/schoolsadd" method="POST">
          <label for="SchoolName">School Name</label>
          <div class="form-group form-inline">
            <input type="SchoolName" class="form-control" id="SchoolNameInput" placeholder="Enter School Name" name="SchoolNameInput">
          </div>

          <label for="StreetAddress">Street Address</label>
          <div class="form-group form-inline">
            <input type="StreetAddress" class="form-control" id="StreetAddressInput" placeholder="Enter Street Address" name="SchoolAddressInput">
          </div>

          <label for="City">City</label>
          <div class="form-group form-inline">
            <input type="City" class="form-control" id="CityInput" placeholder="Enter City" name="SchoolCityInput">
          </div>

          <label for="Zipcode">Zipcode</label>
          <div class="form-group form-inline">
            <input type="Zipcode" class="form-control" id="ZipcodeInput" placeholder="Enter Zipcode" name="SchoolZipcodeInput">
          </div>
          <div class="row h-100 justify-content-center align-items-center">
          		<button type="submit" class="btn btn-secondary">Add School</button>
          </div>
        </form>
        
      </div>
    </div>
  

{% endblock %}