{% extends 'base.html' %}

{% block content %}

		<!--Top Informational Jumbotron-->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3 text-center">Staff</h1>
        <div class="row h-100 justify-content-center align-items-center">
			<nav aria-label="...">
				<ul class="pagination">
					<li class="page-item disabled">
					<li class="page-item" aria-current="page">
					    <a class="page-link" href="/staff">View<span class="sr-only"></span></a>
					</li>

					<li class="page-item active" aria-current="page">
					     <a class="page-link" href="/staffadd">Add<span class="sr-only">(current)</span></a>
					</li>
				</ul>
			</nav>
		</div>
      </div>
    </div>

    <!--Add Staff Forms Below-->
    <div class="container h-100">
      <div class="row h-100 justify-content-center align-items-center">

        <form role="form" action="/staffadd" method="POST">

          <label for="StaffLastName">Last Name</label>
          <div class="form-group form-inline">
            <input type="StaffLastName" class="form-control" id="StaffLastName" placeholder="Enter Last Name" name="StaffLastNameInput">
          </div>

          <label for="StaffFirstName">First Name</label>
          <div class="form-group form-inline">
            <input type="StaffFirstName" class="form-control" id="StaffFirstName" placeholder="Enter First Name" name="StaffFirstNameInput">
          </div>

          <label for="StaffRoleCode">Role</label>
          <div class="form-group form-inline">
            <input type="StaffRoleCode" class="form-control" id="StaffRole" placeholder="Enter Role" name="StaffRoleInput">
          </div>

		  <div class="form-group">
		    <label for="exampleFormControlSelect1">Select School</label>
		    <select class="form-control" id="exampleFormControlSelect1" name="StaffSchoolIDInput">
		      {% for s in Schools %}
		      <option value="{{s[0]}}">{{s[1]}}</option>
		      {% endfor %}
		    </select>
		   </div>
          
          <label for="StaffCertification1">Certification 1 (optional)</label>
          <div class="form-group form-inline">
            <input type="StaffCertification1" class="form-control" id="StaffCertification1" placeholder="Enter First Certifcation" name="StaffCertification1Input">
          </div>

          <label for="StaffCertification2">Certification 2 (optional)</label>
          <div class="form-group form-inline">
            <input type="StaffCertification2" class="form-control" id="StaffCertification2" placeholder="Enter Second Certifcation" name="StaffCertification2Input">
          </div>
          
          <div class="row h-100 justify-content-center align-items-center">
          		<button type="submit" class="btn btn-secondary">Add Staff Member</button>
          </div>
        </form>
        
      </div>
    </div>
  

{% endblock %}